@inherits LayoutComponentBase

<div class="admin-layout">
    <div class="sidebar">
        <EasyPeasy_Login.Web.Components.Shared.NavMenu />
    </div>
    <div class="main-content">
        @Body
    </div>
</div>